header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$small-screen} {
        padding: 30px 50px;
        nav {
            display: flex !important;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 200px);
            ul {
                display: flex;
                li {
                    margin-right: 20px;
                }
            }
        }
        .open {
            display: none !important;
            cursor: pointer;
        }
    }
    @media #{$mobile} {
        nav {
            width: 95%;
            position: absolute;
            top: 70px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, .6);
            border-radius: 4px;
            ul {
                border: 1px solid rgba(0, 0, 0, .6);
                padding: 20px;
                background-color: $white;
                text-align: center;
                border-radius: 4px;
                li {
                    margin-bottom: 20px;
                    text-align: center;
                    a {
                        display: block;
                        width: 100%;
                    }
                }
            }
            .start {
                display: none;
            }
        }
    }
    padding: 20px 20px;
    nav {
        display: none;
        ul {
            li {
                a {
                    font-size: .9em;
                    color: $title-color;
                    font-weight: 500;
                    text-transform: capitalize;
                    &:hover {
                        color: $text-color;
                    }
                }
            }
        }
    }
    .open {
        cursor: pointer;
    }
    .close {
        display: none;
        cursor: pointer;
    }
}